html {
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  padding: 0 10px;
  margin: 0;
  font-family: 'Prompt', sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
}

.tag {
  margin: 0 0 100px 10px;
  padding: 2px 15px;
  color: #ffffff;
  font-weight: 500;
  background-color: #f4a742;
  border-radius: 10px;
}

.wrapper {
  width: 100vw;
  max-width: 400px;
  padding: 30px;
  min-height: 100%;
  text-align: center;
}

.wrapper-home {
  width: 100vw;
  padding: 30px;
  min-height: 100%;
  text-align: center;
}



form {
  min-width: 200px;
}

input {
  width: 100%;
  font-family: 'Prompt', sans-serif;
}

.inline {
  display: inline-block;
}
