@import url(https://fonts.googleapis.com/css?family=Prompt:300,400,500);

html,body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Prompt', sans-serif !important;
}

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}
