doctype HTML
head
  title=title
  meta(name='viewport',content='width=device-width, initial-scale=1.0')
  link(rel="icon" type="image/png" href="/img/LightUpTheProjectFav.png")
  link(href="/css/lightup.css" rel="stylesheet")
  link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
body.lightup-admin
  div.container-fluid(style='max-width:800px;')
    h2.lightup-admin-text(style="margin-top:100px;") LightUptheProject | Booth Management
    br
    if addNewBooth
      p.lightup-admin-text Fill the form below to add new booth.
      form(action='/admin/boothmanage/addnew', method='post')
        div.form-group
          label.lightup-admin-text BoothID:
          input(type='text' name='boothid' class='form-control' placeholder='BoothID' required autofocus)
        div.form-group
          label.lightup-admin-text Booth Name:
          input(type='text' name='boothname' class='form-control' placeholder='Booth Name' required)
        div.form-group
          label.lightup-admin-text Booth Description:
          input(type='text' name='boothdescription' class='form-control' placeholder='Booth Description')
        br
        input(type='submit' class='btn btn-outline-light' value='Add New Booth')
    else
    if addNewBoothComplete
      div.text-center
        h4.lightup-admin-text=boothname + ' has been added into the database.'
        a(href='/admin/boothmanage/addnew' class='btn btn-outline-light' role='button' style='min-width:220px;') Add More Booth
    br
    div.text-center
      a(href='/admin/boothmanage' class='btn btn-outline-light mb-3' role='button' style='min-width:220px;') Booth Management
      br
      a(href='/' class='btn btn-outline-light' role='button' style='min-width:220px;') Home
    br
    br
    p.lightup-admin-text LightUpTheProject &copy; 2019 | Created by TJ.THANAPAT
    br
    br
