doctype html
html
  head
    title จุดประกายฝัน 2562
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    link(href="https://fonts.googleapis.com/css?family=Prompt:300,400,500" rel="stylesheet")
    link(href="/css/comingsoon.css" rel="stylesheet")
  body
    div.wrapper-home
      a(style='font-size:6.3vw;font-weight:400;') จุดประกายฝัน 2562
      a(class="tag") BETA
      br
      a(style='font-size:20px;')
      br
      br
      a(href='/regis' class='tag') Register
      a(href='/search' class='tag') Search
      a(href='/boothdetail' class='tag') Booths
