doctype html
head
  title=title
  meta(name='viewport',content='width=device-width, initial-scale=1.0')
  link(rel="icon" type="image/png" href="/img/LightUpTheProjectFav.png")
  link(href="/css/lightup.css" rel="stylesheet")
  link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
body
  div.container-fluid(style='max-width:800px;')
    h2(style="margin-top:100px;") LightUptheProject
    br
    h5(style='color:#dc3545')=ErrMessage
    if showBackButton
      button.mt-3(onclick='window.history.back();' class='btn btn-danger') Back
    br
    br
    br
    a(href='/') Home
    hr
    p LightUpTheProject &copy; 2019 | Created by TJ.THANAPAT
    br
    br
