doctype html
head
  title=title
  meta(name='viewport',content='width=device-width, initial-scale=1.0')
  link(href="https://fonts.googleapis.com/css?family=Prompt:300,400,500" rel="stylesheet")
  link(href="/css/lightup.css" rel="stylesheet")
  link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
body
  div.container(style='max-width:800px;')
    form(action='/search', method='post')
      p Enter Your ID:
      input(type='text', name='userid')
      br
      br
      input(type='submit', value='Search')
    if showSearchResult
      br
      h3 Result
      p='UserID: ' + userid
      p='Name: ' + u_firstname + ' ' + u_lastname
      p='Class: ' + u_class + ' Roll: ' + u_roll
    br
    a(href='/') Home
