doctype html
head
  title=title
  meta(name='viewport',content='width=device-width, initial-scale=1.0')
  link(href="https://fonts.googleapis.com/css?family=Prompt:300,400,500" rel="stylesheet")
  link(href="/css/comingsoon.css" rel="stylesheet")
body
  div.wrapper
    form(action='/search', method='post')
      p Enter Your ID:
      input(type='text', name='userid')
      br
      br
      input(type='submit', value='Search')
    if showSearchResult
      br
      h3 Result
      p='UserID: ' + userid
      p='Name: ' + u_firstname + ' ' + u_lastname
      p='Class: ' + u_class + ' Roll: ' + u_roll
    br
    a(href='/') Home
